<div class="parallax">
</div>
<div class="onethree">About</div>
<div class="parallaxthree"></div>

<div class="one">
    My road to the coding world began in mesa Arizona where I worked as a full time construction. Every day I would wake up at five o'clock in the morning and head out to work on the roofs. The days were long and extremely hot and everyday I would return
    home to my wife and baby girl exhausted. One day I had the feeling to look up Dev Mountain and apply.It was from then on that my life would change for the best!
</div>

<div class="parallax-two"></div>
<div class="one-two">Thanks to the mentors
    <div class="about-buttons">
        <button class="mentor" type="button" ng-click="clickSterling()">Sterling</button>
        <sterling ng-if="showSterling"></sterling>
        <button class="mentor" type="button" ng-click="clickGus()">Gus</button>
        <gus ng-if="showGus"></gus>
        <button class="mentor" type="button" ng-click="clickJohn()">John</button>
        <john ng-if="showJohn"></john>
    </div>
</div>
