
<div class="userPic">
    <div>
        <ul class="userPic-ul">
            <li class="userPic-li" ng-repeat="giphy in giphys track by $index">
                <img class="giphy-image" ng-src="{{giphy.images.original.url}}" ng-click="bigPicture(giphy.images.original.url)"/> <a ui-sref="homeOne"> </a>
            </li>
        </ul>
        <!-- GIPHY REPRESENTS ONE GIPHY -->
    </div>
  </div>


<div ng-model="picture" class="giphy-screen">
  <div class="macBg">
    <img src="{{picture}}" class="giphy-screen-image">
</div>
</div>
<div class="jumbotron">
    <div class="suggestions">
        <div class="circle glyphicon glyphicon-share-alt" ng-model='userGiphy' ng-click="getUserGiphy(suggestionOne)">
            <a ui-sref="homeOne"> </a>


            <p>{{suggestionOne}}</p>
        </div>
        <div class="circle glyphicon glyphicon-share-alt" ng-click="getUserGiphy(suggestionTwo)">
            <a ui-sref="homeOne"> </a>

            <p>{{suggestionTwo}}</p>
        </div>
        <div class="circle glyphicon glyphicon-share-alt" ng-click="getUserGiphy(suggestionThree)">
            <a ui-sref="homeOne"> </a>

            <p>{{suggestionThree}}</p>
        </div>
    </div>
    <div class="col-lg-6 jumbo-search">
        <form class="input-group">

            <input class= "searchHomeOne" type="text" ng-model='suggestion' />
            <button class= "searchButtonHomeOne" type="submit" ng-click="getUserGiphy(suggestion)" name="button">GET GIF</button>
            <p>Whats your giphy today?</p>

        </form>
    </div>
</div>
