<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Giphy</title>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="../css/main.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="../css/home.css"></link>
    <link rel="stylesheet" href="../css/hangmanSprite.css"></link>
    <link rel="stylesheet" href="../css/about.css"></link>
  </head>
  <body ng-controller='homeCtrl'>
    <nav-bar></nav-bar>

<ui-view></ui-view>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="./app.js"></script>
    <script src="../controllers/mainCtrl.js"></script>
    <script src="../service/mainService.js"></script>
    <script src="../directives/navBar.js"></script>
    <script src="../controllers/homeCtrl.js"></script>
    <script src="../js/ngClipBoard.js"></script>
    <script src="../controllers/giphyCtrl.js"></script>
    <script src="../controllers/gameCtrl.js"></script>
    <script src="../service/gameService.js"></script>
    <script src="../controllers/homeOneCtrl.js"></script>
    <script src="../controllers/aboutCtrl.js"></script>
    <script src="../directives/sterlingDirective.js"></script>
    <script src="../directives/gusDirective.js"></script>
    <script src="../directives/johnDirective.js"></script>
  </body>
</html>
